<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hadiani | Backend Web Developer, AI Solutions & Modern Web Applications</title>
    <meta name="description" content="Hadiani, seorang web developer berpengalaman, spesialis di pengembangan backend, aplikasi web modern, dan solusi AI. Kunjungi portfolio saya untuk proyek terbaru!">
    <meta name="author" content="Hadiani">
    <link rel="canonical" href="https://hadiweb-portfolio.vercel.app/" />

    <!-- Open Graph (OG) Meta Tags -->
    <meta property="og:title" content="Portfolio Hadiani | Web Developer, AI Solutions & Modern Apps">
    <meta property="og:description" content="Jelajahi karya terbaik saya dalam pengembangan web, aplikasi AI, dan desain UI/UX modern. Kunjungi portfolio saya untuk melihat proyek yang menakjubkan.">
    <meta property="og:image" content="{{url_for('static', filename='assets/image/favicon.jpg')}}">
    <meta property="og:image:alt" content="Logo Hadiweb">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hadiweb-portfolio.vercel.app/">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Portfolio Hadiani | Web Developer, AI Solutions & Modern Apps">
    <meta name="twitter:description" content="Jelajahi karya terbaik saya dalam pengembangan web, aplikasi AI, dan desain UI/UX modern. Kunjungi portfolio saya untuk melihat proyek yang menakjubkan.">
    <meta name="twitter:image" content="{{url_for('static', filename='assets/image/favicon.jpg')}}">
    <meta name="twitter:image:alt" content="Logo Hadiweb">
    <meta name="twitter:creator" content="@AnsarCool1">

    <!-- General SEO Meta Tags -->
    <meta name="robots" content="index, follow">

    <link rel="shortcut icon" href="{{url_for('static', filename='assets/image/favicon.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="spinner-wrapper">
        <div class="spinner"></div>
    </div>

    <div class="container">
        <header class="header-container">
            <div class="image-container">
                <img src="{{url_for('static', filename='assets/image/logo.png')}}" alt="HadiWeb Logo" data-logo-light="{{url_for('static', filename='assets/image/logo.png')}}" data-logo-dark="{{url_for('static', filename='assets/image/logo-darkmode.png')}}" class="logo-image">
            </div>
            <div class="hamburger-icon">
                <ion-icon name="menu" class="menu-icon"></ion-icon>
                <ion-icon name="close" class="close-icon"></ion-icon>
            </div>
            <nav class="navigation-container">
                <ul class="navigation-bar">
                    <li class="navigation">
                        <a href="#" class="link-bar">Home</a>
                    </li>
                    <li class="navigation">
                        <a href="#about-container" class="link-bar" aria-label="This About Me">About Me</a>
                    </li>
                    <li class="navigation">
                        <a href="#skill-container" class="link-bar" aria-label="This My Skills">Skills</a>
                    </li>
                    <li class="navigation">
                        <a href="#project-container" class="link-bar" aria-label="This My Projects">Projects</a>
                    </li>
                    <li class="navigation">
                        <a href="#contact-container" class="link-bar" aria-label="This My Contact">Contact Me</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="content-container">
            <section class="mode-toolbar">
                <div class="toolbar-box">
                    <ion-icon name="sunny" class="sunny-icon"></ion-icon>
                    <ion-icon name="moon" class="moon-icon"></ion-icon>
                </div>
            </section>
            <section class="about-container">
                <div class="about-content">
                    <div class="text-box">
                        <h1 class="name-text">Hadiani</h1>
                        <div class="social-media">
                            <a href="https://github.com/lahadiyani" target="_blank" class="social-icon">
                                <ion-icon name="logo-github"></ion-icon>
                            </a>
                            <a href="https://www.facebook.com/profile.php?id=100078252237871" target="_blank" onclick="openFacebook(event)" class="social-icon">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </div>
                        <p class="lead-text"></p>
                    </div>
                    <img src="{{url_for('static', filename='assets/image/hero.svg')}}" alt="Logo Hadi" class="image-hero">
                </div>
            </section>
            <section class="about-all-container" id="about-container">
                <div class="about-me">
                    <h2 class="title-about">About Me</h2>
                    <div class="about-content-all">
                        <div class="texts-abouts">
                            <p class="text-about">Halo, perkenalkan nama saya La Hadiani, saya berusia 22 tahun. Saya berasal dari Wanci, Wakatobi, Sulawesi Tenggara. Saat ini, saya adalah seorang Web Developer sekaligus mahasiswa di Institut Teknologi dan Bisnis Muhammadiyah (ITBM) Wakatobi, dengan jurusan Teknologi Informasi. Saya memiliki minat yang besar dalam dunia teknologi, khususnya pengembangan web. Saya selalu tertarik untuk belajar hal-hal baru, mengembangkan keterampilan pemrograman, serta menciptakan solusi digital yang bermanfaat. Salam kenal, dan saya berharap bisa terus berkembang serta berbagi ilmu dengan teman-teman semua!</p>
                        </div>
                        <div class="photo-me">
                            <img src="{{url_for('static', filename='assets/image/me.jpg')}}" alt="La Hadiani" class="me">
                        </div>
                    </div>
                </div>
            </section>
            <section class="skill-container" id="skill-container">
                <h2 class="skills-title">My Skills</h2>
                <div class="skill-category">
                    <h2>Languages</h2>
              
                    <div class="skill-item">
                      <span>HTML</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="90"></div>
                      </div>
                    </div>
              
                    <div class="skill-item">
                      <span>CSS</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="75"></div>
                      </div>
                    </div>
              
                    <div class="skill-item">
                      <span>JavaScript</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="55"></div>
                      </div>
                    </div>
              
                    <div class="skill-item">
                      <span>Python</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="55"></div>
                      </div>
                    </div>

                    <div class="skill-item">
                        <span>Php</span>
                        <div class="progress-container">
                          <div class="progress" data-progress="30"></div>
                        </div>
                      </div>
                  </div>
              
                  <!-- Kategori 2: Frameworks -->
                  <div class="skill-category">
                    <h2>Frameworks</h2>
              
                    <div class="skill-item">
                      <span>React</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="20"></div>
                      </div>
                    </div>
              
                    <div class="skill-item">
                      <span>Flask</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="60"></div>
                      </div>
                    </div>
              
                    <div class="skill-item">
                      <span>Django</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="30"></div>
                      </div>
                    </div>

                    <div class="skill-item">
                        <span>Laravel</span>
                        <div class="progress-container">
                          <div class="progress" data-progress="30"></div>
                        </div>
                      </div>
                  </div>
              
                  <!-- Kategori 3: Databases -->
                  <div class="skill-category">
                    <h2>Databases</h2>
              
                    <div class="skill-item">
                      <span>MySQL</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="55"></div>
                      </div>
                    </div>
              
                    <div class="skill-item">
                      <span>MongoDB</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="30"></div>
                      </div>
                    </div>

                    <div class="skill-item">
                        <span>PostgreSQL</span>
                        <div class="progress-container">
                          <div class="progress" data-progress="20"></div>
                        </div>
                      </div>
                  </div>
              
                  <!-- Kategori 4: Others -->
                  <div class="skill-category">
                    <h2>Others</h2>
              
                    <div class="skill-item">
                      <span>Git</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="60"></div>
                      </div>
                    </div>
              
                    <div class="skill-item">
                      <span>GitHub</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="70"></div>
                      </div>
                    </div>
              
                    <div class="skill-item">
                      <span>Adobe XD</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="45"></div>
                      </div>
                    </div>
              
                    <div class="skill-item">
                      <span>AI & Prompt Engginering</span>
                      <div class="progress-container">
                        <div class="progress" data-progress="85"></div>
                      </div>
                    </div>

                    <div class="skill-item">
                        <span>Construct 2</span>
                        <div class="progress-container">
                          <div class="progress" data-progress="30"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="project-container" style="display: none;">
                <div class="project-content">
                    <div class="card-repo">

                    </div>
                </div>
            </section>
            <section class="contact-container">
                <div class="contact-content">

                </div>
            </section>
        </main>
        <footer class="footer-container">

        </footer>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>   
</body>
</html>